{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyExlAQd9FUj5IepE2S9uKT6zp97VxA7" crossorigin="anonymous">
    <style>
        .navbar {
            background-color: #6F1A07;
            border-color: #E7E7E7;
        .navbar .navbar-brand {
            color: black;
;
        }
        .navbar-nav .nav-item .nav-link {
            color: black;
        }
        .navbar-nav .nav-item .nav-link:hover {
            filter: brightness(80%);
        }
    </style>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-JpNbSVNlQsNtBAVjCV9aaZwj9Md27dD10D7dMz3Iw5fmPKgeohCeR18V0yB+ebDy" crossorigin="anonymous"></script>
{% endblock %}


{% block title %}
    {% if title %}{{ title }}{% else %}Sidequest{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="{{ url_for('index') }}">SideQuest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if current_user.is_anonymous %}
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Login</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Create</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">About</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Profile</a></li>
                </ul>
            {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

