{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyExlAQd9FUj5IepE2S9uKT6zp97VxA7" crossorigin="anonymous">

    <style>

    /* Font Abril Fatface Import */

    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


    /* Navbar Styling */
        .navbar {
            background-color: #6F1A07;
        }

    /* Sidequest Logo Styling */
        .navbar .navbar-brand {
            color: white;
            -webkit-text-stroke: 0.3px black;
            font-family: 'Abril Fatface', serif;
            font-weight: 400;
            font-size: 1.3em;
            text-align: left;
        }

    /* Link/Tab Styling (Home, Create, About, Profile, Login) */
        .navbar-nav .nav-item .nav-link {
            color: #797270;
        }

        .nav-tabs li a {
            color: #797270;
        }

        .navbar-nav .nav-item .nav-link:hover {
            color: #FFFFFF;
        }

        #title {
            font-family: 'Abril Fatface', bold;
        }

    body {
            background-color: #A18276;
        }


    </style>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-JpNbSVNlQsNtBAVjCV9aaZwj9Md27dD10D7dMz3Iw5fmPKgeohCeR18V0yB+ebDy" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyExlAQd9FUj5IepE2S9uKT6zp97VxA7" crossorigin="anonymous"></script>
{% endblock %}


{% block title %}
    {% if title %}{{ title }}{% else %}Sidequest{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="{{ url_for('index') }}" id="title">SideQuest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if current_user.is_anonymous %}
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Login</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('all_quests') }}">Explore</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('create_quest') }}">Create</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}">Profile</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container p-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="width: 100%; height: 45vh;">
            </div>
        </div>
    </div>
{% endblock %}

