

{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Create Account{% endblock %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <script>
    document.getElementById('image').addEventListener('change', function () {
        const preview = document.getElementById('image-preview');
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();
            reader.addEventListener('load', function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            });
            reader.readAsDataURL(file);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    });
    </script>
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>

    /* Whole Page Background Color */
        body {
            background-color: #A18276;
        }

        .container {
            color: black;
        }

        #img-box {
            width: 200px;
            height: 200px;
            border: 1px solid black;
            margin: 0 auto;
            margin-bottom: 20px;
            position: relative;
            background: #797270;
            text-align: center;
        }

        #uploadBtn {
            color: black;
            background: white;
        }
    </style>
{% endblock %}

{% block app_content %}
    <div class="container mb-4 mt-5">
        <h1>Create Account</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
                    {{ wtf.quick_form(form) }}
                </div>

                <div class="col-md-6">
                    <div id="img-box" class="image-preview-container">
                        <img src="" id="image-preview" alt="Image Preview" class="img-fluid" style="display: none;">
                    </div>
                    <label id="uploadBtn" for="image" class="btn btn-secondary">Upload Image</label>
                    <input type="file" class="form-control" id="image" name="image" style="display: none;">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

