{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}
    <style>

    /* Whole Page Background Color */
        body {
            background-color: #A18276;
        }

        .container {
            color: black;
        }
    </style>
{% endblock %}


{% block app_content %}
    <div class="container p-4">
        <h1 class="mt-5">Hello, {{ current_user.username }}, Welcome to SideQuest</h1>
        <p>WE HAVE SIDEQUEST</p>
    </div>
{% endblock %}

