
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<style>
    .container {
        margin-top: 50px;
    }
    .page-header {
        margin-bottom: 50px;
    }
    .page-header h1 {
        margin-bottom: 20px;
    }
    .page-header p {
        margin-bottom: 20px;
    }
    .page-header img {
        margin-bottom: 20px;
    }
    .page-header .row {
        margin-bottom: 20px;
    }
    .page-header .row .col-md-3 {
        margin-bottom: 20px;
    }
    .page-header .row .col-md-3 img {
        margin-bottom: 20px;
    }
</style>
    <div class="container">
        <div class="page-header">
            <h1>{{ quest.title }}</h1>
            <div class="row">
                <div class="col-md-6">
                    <p>{{ quest.description }}</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('image', quest_id=quest.id) }}" alt="Image" style="max-width:175%;">
                </div>
            </div>
            <div id="button-region">
               {% if completed %}
                    <button>Quest Already Completed</button>
               {% else %}
                    <div id="button-container">
                        <button id="add-button" data-quest-id="{{ quest.id }}" value="add">Add SideQuest</button>
                        <button id="remove-button" data-quest-id="{{ quest.id }}" value="remove">Remove SideQuest</button>
                    </div>
               {% endif %}
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        $('#add-button, #remove-button').hide();

        // Make an AJAX request to check the quest status
        const questId = $('#add-button').data('quest-id');
        $.ajax({
            url: '/check_quest_status/' + questId, // You need to create this endpoint
            type: 'GET',
            success: function (data) {
                if (data.quest_in_progress) {
                    // If the quest is in progress, show the "Remove SideQuest" button
                    $('#remove-button').show();
                } else {
                    // If the quest is not in progress, show the "Add SideQuest" button
                    $('#add-button').show();
                }
            }
        });


        // Handle click on "Add SideQuest" button
        $('#add-button').on('click', function () {
            const questId = $(this).data('quest-id');
            $.ajax({
                url: '/update_quest_status/' + questId,
                type: 'POST',
                data: { action: 'add' },
                success: function (data) {
                    // On success, hide "Add SideQuest" button and show "Remove SideQuest" button
                    $('#add-button').hide();
                    $('#remove-button').show();
                }
            });
        });

        // Handle click on "Remove SideQuest" button
        $('#remove-button').on('click', function () {
            const questId = $(this).data('quest-id');
            $.ajax({
                url: '/update_quest_status/' + questId,
                type: 'POST',
                data: { action: 'remove' },
                success: function (data) {
                    // On success, hide "Remove SideQuest" button and show "Add SideQuest" button
                    $('#remove-button').hide();
                    $('#add-button').show();
                }
            });
        });
    });
</script>



{% endblock %}