{% extends "base.html" %}
{% block title %}All Quests{% endblock %}
{% block app_content %}

<style>
    .carousel {
        margin-bottom: 35px; /* Adjust the value as needed */
    }

    .container {
        margin-top: 20px;
    }


    .carousel-control-next {
        right: -10%;
    }

    .carousel-control-prev {
        left: -10%;
    }
   /* .carousel-control-prev,
    .carousel-control-next{
      bottom: 75%;
}

    .carousel-control-prev {
        position: relative;
        padding: 0;
        display: table;
        top: 10px;
        border-radius: 5px;
        height: 10px;
        margin-left: 2px;
        margin-right: 2px;
        width: 10px;
    }

    .carousel-control-next {
        position: relative;
        padding: 0;
        display: table;
        top: 0px;
        border-radius: 5px;
        height: 15px;
        margin-left: 0px;
        margin-right: 2px;
        width: 10px;
    }

    .carousel-control-next .carousel-control-prev li {
        background-color: rgba(223, 223, 223, 0.40);
        border-radius: 5px;
        height: 10px;
        margin-left: 2px;
        margin-right: 2px;
        width: 10px;
        cursor: pointer;
    }
    */
</style>

<div class="container">
    <h2>Stay-At-Home</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel1" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre1|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>

    <h2>Transportation Necessary</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel2" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre2|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Free</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel3" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre3|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Paid</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel4" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel4" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel4" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre4|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>21+</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel5" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel5" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel5" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre5|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Best for Couples</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel6" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel6" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel6" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre6|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Best for Teens</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel7" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel7" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel7" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre7|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Best for Solo</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel8" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel8" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel8" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre8|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
    </div>
    <h2>Best for Friends</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel9" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel9" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel9" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre9|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Best for Dates</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel10" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel10" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel10" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre10|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Best for Parties</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel11" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel11" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel11" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre11|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Best for Introverts</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel12" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel12" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel12" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre12|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Best for Extroverts</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel13" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel13" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel13" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre13|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Best for Locals</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel14" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel14" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel14" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre14|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
    <h2>Best for Tourists</h2>
    <div class="row">
    <div class="col-md-12">
        <div id="Carousel15" class="carousel slide" data-ride="carousel" data-interval="false">

            <!-- Navigation buttons outside the carousel items -->
            <a class="carousel-control-prev" href="#Carousel15" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel15" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for chunk in genre15|batch(4) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row">
                            {% for image in chunk %}
                                <div class="col-md-3">
                                    <a href="{{ url_for('quest_page', quest_id = image.Quest.id) }}" class="thumbnail">
                                        <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                    </a>
                                </div>
                            {% endfor %}
                            {% if chunk|length < 4 %} {# Add empty slots to maintain layout #}
                                {% for i in range(4 - chunk|length) %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=filler.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div><!--.Carousel-->
    </div>
</div>
{% endblock %}

