{% extends "base.html" %}
{% block title %}All Quests{% endblock %}
{% block app_content %}

<style>
    .carousel {
        margin-bottom: 35px; /* Adjust the value as needed */
    }

    .container {
        margin-top: 20px;
    }
    .carousel-control-prev {
        position: relative;
        padding: 0;
        /*use this display this to center the indicators horizontally*/
        display: table;
        top: 10px;
        border-radius: 5px;
        height: 10px;
        margin-left: 2px;
        margin-right: 2px;
        width: 10px;
    }

    .carousel-control-next {
        position: relative;
        padding: 0;
        /*use this display this to center the indicators horizontally*/
        display: table;
        top: 0px;
        border-radius: 5px;
        height: 15px;
        margin-left: 0px;
        margin-right: 2px;
        width: 10px;
    }

    .carousel-control-next .carousel-control-prev li {
        background-color: rgba(223, 223, 223, 0.40);
        border-radius: 5px;
        height: 10px;
        margin-left: 2px;
        margin-right: 2px;
        width: 10px;
        cursor: pointer;
    }
</style>

<div class="container">
    <h2>Stay-At-Home</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel1" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for chunk in genre1|batch(4) %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                                {% for image in chunk %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Navigation buttons -->
                <a class="carousel-control-prev" href="#Carousel1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--.Carousel-->
        </div>
    </div>
    <h2>Transportation Necessary</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel2" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for chunk in genre2|batch(4) %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                                {% for image in chunk %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Navigation buttons -->
                <a class="carousel-control-prev" href="#Carousel2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--.Carousel-->
        </div>
    </div>
    <h2>Free</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel3" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for chunk in genre3|batch(4) %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                                {% for image in chunk %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Navigation buttons -->
                <a class="carousel-control-prev" href="#Carousel3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--.Carousel-->
        </div>
    </div>
    <h2>Paid</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel4" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for chunk in genre4|batch(4) %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                                {% for image in chunk %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Navigation buttons -->
                <a class="carousel-control-prev" href="#Carousel4" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel4" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--.Carousel-->
        </div>
    </div>
    <h2>21+</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel5" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for chunk in genre5|batch(4) %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                                {% for image in chunk %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Navigation buttons -->
                <a class="carousel-control-prev" href="#Carousel5" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel5" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--.Carousel-->
        </div>
    </div>
    <h2>Best for Groups</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel6" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for chunk in genre6|batch(4) %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                                {% for image in chunk %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Navigation buttons -->
                <a class="carousel-control-prev" href="#Carousel6" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel6" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--.Carousel-->
        </div>
    </div>
    <h2>Best for Couples</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel7" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for chunk in genre7|batch(4) %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                                {% for image in chunk %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Navigation buttons -->
                <a class="carousel-control-prev" href="#Carousel7" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel7" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--.Carousel-->
        </div>
    </div>
    <h2>Best for Locals</h2>
    <div class="row">
        <div class="col-md-12">
            <div id="Carousel8" class="carousel slide" data-ride="carousel" data-interval="false">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for chunk in genre8|batch(4) %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                                {% for image in chunk %}
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail">
                                            <img src="{{ url_for('image', quest_id=image.Quest.id) }}" alt="Image" style="max-width:100%;">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Navigation buttons -->
                <a class="carousel-control-prev" href="#Carousel8" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Carousel8" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!--.Carousel-->
        </div>
    </div>
</div>
{% endblock %}

